/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html{
  font-family:Arial;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#brand-logo {
    padding-top: 5%;
    margin-left: 5%;
}

.act:hover{
  background: #a52a54;
  color:white;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

nav ul a{
  font-weight: 600;
}

.fullscreen{
  height: 50%;
  overflow: hidden;
}

.wallpaper{
  min-height: 700px !important;
}

.heart{
  font-size:164px;
}

.main-button-color{
  background: #a52a54;
}

.header-title{
  font-size:62px;
}

.section-spacing{
  margin-top: 10%;
}

.spacing-welcome{
  margin-top: 5%;
}

hr{
  width:50%;
   height: 1px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
  background: linear-gradient(left, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
  border: 0;
}

.service-font{
  font-size:16px;
}

.img-gal{
  width:100%;
  margin:20px;
}

.margin-bottom{
  margin-bottom: 50px;
}

.act:active{
  background:red;
}

.img-gal.materialboxed {
    border: 2px solid #a52a5433;
}

.fixed-navbar{
  position: fixed;
  z-index: 100;
}

.main-icon-margin {
    margin: 8.373rem 0 1.424rem 0;
}

.grad{
  padding-bottom:0;
}

.mar-top{
  margin-top: 2%;
}

.footer-copyright{
  padding:0 !important;
}

.main-color{
  background: black !important;
}

.partner-margin{
  margin-left:25%;
}

.partner-margin img{
  margin:5%;
}

.img-gallery-parallax{
  transform: translate3d(0%, 400px, 0px);
  opacity: 1;  
}

.section-spacing2{
  margin-top:5%;
}

.thumb{
  overflow: hidden;
  position: relative;
  margin:10px;
}

.thumb img{
    border: 10px solid #fff;
}

.full-width{
  width:100%;
}

.gallery-background{
  background: url(../img/gallery/img-wallpaper.jpg) no-repeat;
  background-size: cover;
  background: black;
}

.hr-white{
  width:50%;
   height: 1px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
  background: linear-gradient(left, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
  border: 0;
}

#photos { 
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;  
}

#photos img {
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.page-footer{
  padding-top: 0 !important;
}

.gallery-margin-bottom{
  margin-bottom: 5%;
}

.gallery-footer{
  background:grey !important;
}

i {
    margin-left: 10px;
}

.team-back{
  background:url(../img/team/img-back.jpg) no-repeat;
  background-size: cover;
}

.more-spacing{
  margin-top:15%;
}

.soc {
  margin-left: -5px;
  margin-right: -15px;
}

.parallax-special{
  min-height:500px;
}

.special-size{
  height:500px;
  width:500px;
}

.zero-margin{
  margin:0;
}

.card .card-content p {
    margin: 20px;
    font-size:25px;
}

.special-header{
  font-size:36px;
}

.small-spacing{
  margin-top:5%;
}

.paper-back{
  background:url(../img/history/img-his-paper.jpg);
}